.title-acordion{
    font-size: 35px;
    line-height: 45px;
}
.accordion{
    /* border-bottom: solid white 2px; */
    margin-top: 0px;
    line-height: 45px;
}
.accordion-content{
    font-size: 17px;
    line-height: 26px;
}
.container {
    font-family: 'Poppins';
    width: 100%;
    max-width: 953px;
    margin: 50px auto;
    position: absolute;    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow-y: auto;
}
  
button.accordion {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 35px;
  padding-top: 39px;
  font-size: 30px;
  color: #020005;
  cursor: pointer;
  transition: background-color 0.2s linear;
  position: relative;
} 
button.mas::after { 
  content: url("https://image-service.unbounce.com/https%3A%2F%2Fapp.unbounce.com%2Fpublish%2Fassets%2Fc8fffd81-641d-4916-bb2f-4e3555944660%2F75e79851-grupo-1483_1000000000000000000028.png?png8=true");
  position: absolute;
  left:  0px;
}
button.menos:after { 
  background-image: url("https://user-assets-unbounce-com.s3.amazonaws.com/0a28f5c7-4f1f-43f1-9929-96a442fe9e6e/00de885b-b138-4d87-bfc9-0890a28b6c11/line-3-2x.small.png");
  position: absolute;
  right: 0px;
  width: 26px;
  content: "";
  background-size: cover;
  display: inline-block;
  height: 2px;
  background-repeat: no-repeat;
  top: 50%;
  margin-left: auto;
}
/* button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
}  */
.accordion-content {
  background-color: transparent;
  /* border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke; */
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  border-bottom: 1px solid #020005;
}

.none-border{
  border-bottom: transparent;
}